body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor: none !important;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


#wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px; 

}

#sidebar {

    min-width: 250px;
    max-width: 250px;
    background:black;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */


}

#sidebar.active {

    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */

} 

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    position: absolute;
    right: 20px;
    top: 10px;
    outline: 0;
    border: none;
    
}

.card {
    background: black;
    color: white;
}


.cursor {
    position: absolute;
    left: -100px;
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: border, transform;
    z-index: 2;
    backdrop-filter: grayscale(1) invert(.8);
  
}

#book {
    background-color: black !important;
}

#book:hover {
    cursor: none;
}


#sidebarCollapse:hover {
    cursor:none;
}

.white {
    transform: scale(.5);
    border: 5px solid white;
}



li {
    margin: 20px 0;
}


#homeLink, #courseLink, #loginLink, #profileLink, #logoutLink, #addLink, #archiveLink {
    background: none;
    color: whitesmoke;
}

#homeLink:after, #courseLink:after, #loginLink:after, #profileLink:after, #logoutLink:after, #addLink:after, #archiveLink:after {
    content:" ";
    width: 0;
    height: 15px;
    position:absolute;
    border :0px solid #fff;
    transition:all .8s;
}

#homeLink:after {
    top: 140px;
    left: 100px;
    border-bottom:2px solid whitesmoke;
   
}

#homeLink:hover, #courseLink:hover, #loginLink:hover, #profileLink:hover, #logoutLink:hover, #addLink:hover, #archiveLink:hover {
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    text-decoration: none;
    cursor: none;
    
}

 #homeLink:hover:after, #courseLink:hover:after, #loginLink:hover:after, #profileLink:hover:after, #logoutLink:hover:after, #addLink:hover:after, #archiveLink:hover:after {
    width: 3%;

}





#courseLink:after{
    top: 185px;
    left: 100px;
    border-bottom:2px solid whitesmoke;
}



#loginLink:after {
    top: 240px;
    left: 100px;
    border-bottom:2px solid whitesmoke;
   
}

#archiveLink:after {
    top: 355px;
    left: 100px;
    border-bottom:2px solid whitesmoke;
}


#addLink:after {
    top: 235px;
    left: 100px;
    border-bottom:2px solid whitesmoke;
}

#profileLink:after {
    top: 230px;
    left: 100px;
    border-bottom:2px solid whitesmoke;
}

#logoutLink:after {
    top: 295px;
    left: 100px;
    border-bottom:2px solid whitesmoke;
}



#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

 #sidebarCollapse span:first-of-type {
  
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
   
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
   
    transform: none;
    
    opacity: 1;
    margin: 5px auto;
}

#footer-nav {
    background-color: black;
    font-weight: 100;
    z-index: 1;
    
   
}

.listStyle{
    list-style-type: none;
   
}



#delete {
    color:  rgb(134, 32, 32);
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

#edit {
    color:  #ccaa21
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}


@media (max-width: 768px) {
    
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
        min-width: 120px;
        max-width: 120px;
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}